.footer {
    margin-top: auto;
    color: #fff;
    background: #111111;
}

.footer__inner {
    padding: 50px 0;
    display: grid;
    line-height: 150%;
    grid-template-columns: repeat(3, 1fr);
}

.footer__logo {
    margin-bottom: 25px;
}

.footer__col {
    grid-column-start: 1;
    padding: 10px;
}

.footer__col-item {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}
.footer__col-item:nth-child(8) {
    margin-bottom: 30px;
}

.footer__col,
.footer__col-info {
    font-weight: 300;
    font-size: 18px;
    color: #fff;
}

.footer__col-link--br {
    font-weight: 900;
    font-size: 24px;
}

.footer__col-tel {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    margin-bottom: 30px;
}

.socials__list {
    display: flex;
    gap: 15px;
    margin-bottom: 174px;
}

.footer__col-copy {
    margin-left: -230px;
    font-weight: 300;
    font-size: 18px;
}