.main__about {
    background: #111;
    height: 560px;
}

.about__inner {
    padding: 40px 0;
    display: grid;
    line-height: 150%;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}


.text_1 {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 20px;
}

.text_2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 42px;
    margin-bottom: 10px;
}

.h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 110%;
    margin-bottom: 50px;
}

.about__button {
    color: #fff;
    background: #4D57C8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding: 10px 10px;
    width: 235px;
    height: 64px;
    font-weight: 400;
    font-size: 24px;
}


.about__text {
    grid-column-start: 1;
}

/*==================================================== */
.main__cover {
    position: relative;
    background: url("../img/decor/bg.png") 50% 100% / cover no-repeat;
    color: #111;
}

.cover__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.cover__content {
    font-weight: 400;
    padding: 50px;
    width: 100%;
}

.cover__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 110%;
    margin-bottom: 40px;
}

.cover__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
}

/* ====================================================== */

.main__bg {
    height: 790px;
    background: #111111;
}

/* ====================================================== */
.main__girls {
    background: url("../img/decor/bg.png") 50% 100% / cover no-repeat;
    color: #111;
}

.girls__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.girls__content {
    font-family: 'Montserrat', sans-serif;
    width: 700px;
}

.girls__text-text {
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 10px;
}

.girls__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 37px;
}

.girls {
    font-weight: 400;
    font-size: 42px;
    line-height: 110%;
    width: 500px;
    margin-bottom: 60px;
}


.girls__img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.girls__button {
    color: #fff;
    background: #4D57C8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding: 10px 10px;
    width: 235px;
    height: 64px;
    font-weight: 400;
    font-size: 24px;
}

/* ====================================================== */
.main__product {
    color: #111;
    background: #f5f5f5;
    padding: 40px 0;
}


.product__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    line-height: 110%;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-top: 150px;
}


.tab-controls {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.tab-controls__link {
    border-radius: 31px;
    border: 1px solid #111;
    padding: 6px 20px 7px 20px;
    height: 38px;
}

.tab-controls__link:hover {
    border: 1px solid #C5358C;
    color: #C5358C;
    ;
}

.tab-controls__item:nth-child(4) {
    margin-right: 100px;
}


.product__button {
    display: flex;
    justify-content: end;
    color: #C5358C;
    text-decoration: underline;
    text-underline-offset: 4px;
    background-color: initial;
    margin-bottom: 60px;
    font-size: 18px;
    margin-left: 40px;
}

/* --- Акордион*/

.accordion__list-body {
    display: none;
}

.accordion__list-body.active {
    display: block;
}

ul.list__ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
}

li.list__li {
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.list__control {
    display: flex;
    padding: 7px 25px 8px 25px;
    width: 280px;
    height: 40px;
    border: 1px solid #c5358c;
    border-radius: 3px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    background-color: initial;
    font-size: 18px;

}

.list__control-title {
    display: flex;
    text-align: center;
    margin-right: 25px;
}

.accordion-list__control-icon {
    display: flex;
    text-align: center;
}

.list__control-name {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    margin-top: 17px;
}

.list__control-button {
    background: #ffffff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.list__control-button:nth-child(5) {
    border-bottom: none;
}

.list__title.name__title {
    display: flex;

    font-weight: 400;
    font-size: 18px;
    padding: 7px 23px 7px 25px;
}

.list__title {
    display: flex;
    font-weight: 300;
    font-size: 18px;
    padding: 7px 23px 7px 25px;
}

/* --- Продукт */

.product__wraper {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: center;
}

.product__card {
    width: 425px;
    height: 778px;
    box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    border-radius: 3px;
    margin-left: 20px;
    margin-top: 20px;
}

.card__img {
    border-radius: 10px;
    width: 400px;
    height: 404px;
    margin-bottom: 40px;
}

.card__text {
    font-weight: 300;
    font-size: 24px;
    padding: 0 40px;
    margin-bottom: 30px;
    width: 424px;
    height: 99px;
}

.card__span-a {
    margin-bottom: 22px;
}

.card__span-1 {
    font-size: 18px;
    color: #68ae5c;
    margin-bottom: 20px;
    padding-left: 40px;
}

.card__span-2 {
    margin-left: 112px;
    border-radius: 3px;
    padding: 10px 20px;
    width: 113px;
    height: 48px;
    background: #c5358c;
    font-weight: 400;
    font-size: 24px;
    color: #f8f8f8;
}

.card__span-3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    padding-left: 40px;
}

.card__span-4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-decoration: line-through;
    margin-left: 60px;
    color: #ababab;
}

.card__button-f {
    display: flex;
}

.card__button-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #111;
    border-radius: 3px;
    padding: 10px;
    width: 220px;
    height: 64px;
    font-size: 24px;
    line-height: 0%;
    background: #F8F8F8;
}


.card__button {
    border-radius: 3px;
    padding: 10px 20px;
    width: 220px;
    height: 64px;
    background: #111;
    font-size: 24px;
    color: #f8f8f8;
}

.card__button:hover {
    background: #C5358C;
}

.product__nav {
    display: flex;
    margin-bottom: 150px;
    margin-top: 130px;
    padding: 0 20px;
}

.product__prev {
    border: 1px solid #111;
    border-radius: 3px;
    padding: 10px 0px;
    width: 64px;
    height: 64px;
    margin-right: 20px;
}

.product__next {
    border: 1px solid #111;
    border-radius: 3px;
    padding: 10px 0px;
    width: 64px;
    height: 64px;
    margin-right: 30px;
}

.product__paginator {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    line-height: .9;
    position: relative;
}

/* ============================================== Аккордион */

.main__faq {
    color: #111;
}

.faq__title {
    display: flex;
    margin-top: 150px;
    margin-bottom: 50px;
}

.faq__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
}

.accordion-content {
    display: flex;
    justify-content: space-between;
    padding: 34px 0 34px 0;
    border-top: 1px solid #ababab;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}


.accordion-content:last-child {
    display: flex;
    justify-content: space-between;
    padding: 34px 0 34px 0;
    border-bottom: 1px solid #ababab;
    margin-bottom: 150px;
}


.accordion-text {
    font-size: 20px;
    line-height: 150%;
}

.accordion-button {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: none;

}

.accordion-line {
    position: absolute;
    background-color: #000000;
    border-radius: 2px;
    box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05);
}

.horizontal {
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateY(-50%);
}

.vertical {
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    transform: translateX(-50%);
}

.accordion__nav {
    overflow: hidden;
    margin-top: 25px;
    max-height: 0;
    opacity: 0;
    transition: background-color 1.5s transition-delay 0.3;
    transition: max-height 1.5s ease-in-out, opacity 1.5s linear transition-delay 0.3;
}

.accordion__nav.active {
    max-height: 500px;
    opacity: 1;
}

.accordion-active .accordion-line {
    background: #C5358C;
    transform: rotate(43deg);
}

.accordion__li {
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #111;
    padding-right: 34%;
}

/* ==============================================  */
.main__set {
    padding-top: 150px;
    padding-bottom: 150px;
    color: #111;
    background: #f8f8f8;
}

.set__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    margin-bottom: 60px;
}

.set__nav {
    display: flex;
    justify-content: space-between;
    margin: 0 -100px 0 -100px;
    transform: translateY(-250px);
    padding: 10px;
}

.set__prev,
.set__next {
    cursor: pointer;
    background: none;
    border: 1px solid #111;
    border-radius: 3px;
    padding: 10px 0px;
    width: 64px;
    height: 64px;
    transition: 0.5s;
}

.swiper-button-disabled.set__prev,
.swiper-button-disabled.set__next {
    border: 1px solid #111;
    cursor: auto;
}

.swiper-button-disabled.set__prev path,
.swiper-button-disabled.set__next path {
    fill: #ABABAB;
}

.swiper-button-disabled.set__prev:hover,
.swiper-button-disabled.set__next:hover {
    border: 1px solid #111;
}

.swiper-button-disabled.set__prev:hover path,
.swiper-button-disabled.set__next:hover path {
    fill: #ABABAB;
}


.set__prev path,
.set__next path {
    transition: 0.5s;
}

.set__prev:hover,
.set__next:hover {
    border: 1px solid #c5358c;
    color: #C5358C;
}

.set__prev:hover path,
.set__next:hover path {
    fill: #C5358C;
}



.set__slide {
    display: flex;
    background: #fff;
}

.set__slide-img {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    padding: 27px 40px 0;
}

.set__slide-name {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    padding-left: 40px;
    padding-right: 20px;
    margin-bottom: 13px;
    font-size: 20px;
    line-height: 120%;
}

.set__slide-text {
    display: flex;
    padding-left: 40px;
    padding-right: 30px;
    margin-bottom: 45px;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
}

/* ================================================ */
.main__order {
    color: #111;
}

.order__title {
    display: flex;
    margin-top: 150px;
    margin-bottom: 60px;
}

.order__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
}

.order__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: center;
}


.order-item {
    display: flex;
    width: 440px;
    height: 280px;
    margin-bottom: 150px;
    flex-direction: column;
    align-items: center;
}

.order-content {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.order__info {
    font-size: 20px;
    margin-bottom: 20px
}

.order__info-info {
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 70px
}

/* ================================================ */

.main__info {
    color: #111;
    background: #f8f8f8;
}

.info__title {
    display: flex;
    margin-bottom: 60px;
}

.info__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
}

.info__body {
    display: flex;
    text-align: center;
}


.info-item {
    width: 440px;
    height: 280px;
    margin-bottom: 150px;
    box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    margin-left: 20px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-content {
    justify-content: center;
    align-content: center;
    display: flex;
    margin-bottom: 30px;
    padding: 26px 0 0 0;
}

.info__name {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 20px
}

.info__name-info {
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 70px
}