.main__about {
    background: #111;
    height: 560px;
}

.about__inner {
    padding: 40px 0;
    display: grid;
    line-height: 150%;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.about__logo {
    margin-bottom: 4px;

}

.text_1 {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 20px;
}

.text_2 {
    font-weight: 400;
    font-size: 42px;
    margin-bottom: 10px;
}

.h2 {
    font-weight: 400;
    font-size: 62px;
    line-height: 110%;
    margin-bottom: 50px;
}

.about__button {
    background: #4D57C8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding: 10px 20px;
    width: 235px;
    height: 64px;
}


.about__text {
    grid-column-start: 1;
}

/*==================================================== */
.main__cover {
    position: relative;
    background: url("../img/decor/bg.png") 50% 100% / cover no-repeat;
    color: #111;
}

.cover__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.cover__content {
    font-weight: 400;
    padding: 50px;
    width: 100%;
}

.cover__title {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 46px;
    line-height: 110%;
    margin-bottom: 40px;
}

.cover__text {
    width: 670px;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
}

/* ====================================================== */

.main__bg {
    height: 790px;
    background: #111111;
}

/* ====================================================== */
.main__girls {
    background: url("../img/decor/bg.png") 50% 100% / cover no-repeat;
    color: #111;
}

.girls__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.girls__content {
    width: 700px;
}

.girls__text-text {
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 10px;
}

.girls__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 37px;
}

.girls {
    font-weight: 400;
    font-size: 42px;
    line-height: 110%;
    width: 500px;
    margin-bottom: 60px;
}


.girls__img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.girls__button {
    color: #fff;
    background: #4D57C8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding: 10px 10px;
    width: 235px;
    height: 64px;
    font-weight: 400;
    font-size: 24px;
}

/* ====================================================== */
.main__product {
    color: #111;
    background: #f5f5f5;
    padding: 40px 0;
}


.product__title {
    font-size: 46px;
    line-height: 110%;
    margin-bottom: 50px;
}


.tab-controls {
    display: flex;
    gap: 20px;

}

.tab-controls__item {
    height: 40px;
}

.tab-controls__link {
    border-radius: 31px;
    border: 1px solid #111;
    padding: 6px 20px 7px 20px;
    height: 38px;
}

.tab-controls__item:nth-child(4) {
    margin-right: 100px;
}


.product__button {
    display: flex;
    justify-content: end;
    color: #C5358C;
    text-decoration: underline;
    background-color: initial;
    margin-bottom: 60px;
    font-size: 18px;
}

/* --- Акордион*/

.accordion-list__item {
    padding: 7px 25px 8px 25px;
    width: 280px;
    height: 40px;
    border: 1px solid #c5358c;
    border-radius: 3px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: initial;
    font-size: 18px;
}

.accordion-list__control {
    display: flex;
    background-color: initial;
}

p.accordion-list__control-title {
    margin-right: 25px;
    font-size: 18px;
}

ul.accordion-list {
    display: flex;
    justify-content: center;
    margin-right: -26%;
    margin-bottom: 20px;
}

/* --- Продукт */

.product__wraper {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: center;
}


.product__card {
    width: 460px;
    height: 814px;
    padding: 0 20px;
    box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    border-radius: 3px;
    margin-left: 20px;
    margin-top: 20px;
}

.card__img {
    border-radius: 10px;
    width: 440px;
    height: 440px;
    margin-bottom: 40px;
}

.card__text {
    font-weight: 300;
    font-size: 24px;
    padding: 0 40px;
    margin-bottom: 30px;
    width: 424px;
    height: 99px;
}

.card__span-a {
    margin-bottom: 22px;
}

.card__span-1 {
    font-size: 18px;
    color: #68ae5c;
    margin-bottom: 20px;
    padding-left: 40px;
}

.card__span-2 {
    margin-left: 112px;
    border-radius: 3px;
    padding: 10px 20px;
    width: 113px;
    height: 48px;
    background: #c5358c;
    font-weight: 400;
    font-size: 24px;
    color: #f8f8f8;
}

.card__span-3 {
    font-size: 42px;
    padding-left: 40px;
}

.card__span-4 {
    font-size: 24px;
    text-decoration: line-through;
    margin-left: 60px;
    color: #ababab;
}

.card__button-f {
    display: flex;
}

.card__button-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #111;
    border-radius: 3px;
    padding: 10px;
    width: 220px;
    height: 64px;
    font-size: 24px;
    line-height: 0%;
    background: #F8F8F8;
}


.card__button {
    border-radius: 3px;
    padding: 10px 20px;
    width: 220px;
    height: 64px;
    background: #111;
    font-size: 24px;
    color: #f8f8f8;
}

.product__nav {
    display: flex;
    margin-bottom: 150px;
    margin-top: 130px;
}

.product__prev {
    border: 1px solid #111;
    border-radius: 3px;
    padding: 10px 0px;
    width: 64px;
    height: 64px;
    margin-right: 20px;
}

.product__next {
    border: 1px solid #111;
    border-radius: 3px;
    padding: 10px 0px;
    width: 64px;
    height: 64px;
    margin-right: 30px;
}

.product__paginator {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    line-height: .9;
    position: relative;
}

/* ============================================== Аккордион */

.main__faq {
    color: #111;
}

.faq__title {
    display: flex;
    margin-top: 150px;
    margin-bottom: 50px;
}

.faq__text {
    font-size: 42px;
}

.accordion-content {
    display: flex;
    justify-content: space-between;
    padding: 34px 0 34px 0;
    border-top: 1px solid #ababab;
}

.accordion-content:last-child {
    display: flex;
    justify-content: space-between;
    padding: 34px 0 34px 0;
    border-bottom: 1px solid #ababab;
    margin-bottom: 150px;
}


.accordion-text {
    font-size: 20px;
    line-height: 150%;
}

.accordion-button {
    background: none;
}

/* ==============================================  */
.main__set {
    color: #111;
    background: #f8f8f8;
}

.set__title {
    display: flex;
    margin-top: 150px;
}

.set__title-text {
    font-size: 42px;
}

.set__nav {
    display: flex;
    align-items: center;
}

.set__prev,
.set__next {
    background: none;
    border: 1px solid #111;
    border-radius: 3px;
    padding: 10px 0px;
    width: 64px;
    height: 64px;
}

.set__wraper {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    width: 325px;
    height: 474px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 60px;
    margin-bottom: 150px;
}

.set__wraper-body {
    display: flex;
    justify-content: center;
    padding: 27px 40px 15px;
}

.set__wraper-name {
    display: flex;
    justify-content: center;
    padding: 15px 107px 5px 40px;
    font-size: 20px;
    line-height: 120%;
}

.set__wraper-text {
    display: flex;
    justify-content: center;
    padding: 5px 30px 45px 40px;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
}

/* ================================================ */
.main__order {
    color: #111;
}

.order__title {
    display: flex;
    margin-top: 150px;
    margin-bottom: 60px;
}

.order__text {
    font-size: 42px;
}

.order__body {
    display: flex;
    text-align: center;
}


.order-item {
    width: 440px;
    height: 280px;
    margin-bottom: 150px;
}

.order-content {
    margin-bottom: 30px;
}

.order__info {
    font-size: 20px;
    margin-bottom: 20px
}

.order__info-info {
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 70px
}

/* ================================================ */

.main__info {
    color: #111;
    background: #f8f8f8;
}

.info__title {
    display: flex;
    margin-bottom: 60px;
}

.info__text {
    font-size: 42px;
}

.info__body {
    display: flex;
    text-align: center;
}


.info-item {
    width: 440px;
    height: 280px;
    margin-bottom: 150px;
    box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    margin-left: 20px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-content {
    justify-content: center;
    align-content: center;
    display: flex;
    margin-bottom: 30px;
    padding: 26px 0 0 0;
}

.info__name {
    font-size: 20px;
    margin-bottom: 20px
}

.info__name-info {
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 70px
}